<div class="mod_solo_activitycontent">
    <div class="mod_solo_activitycontent_text">{{{itemtext}}}</div>
    {{#itemimage}}<div class="mod_solo_activitycontent_image_cont"><img src="{{{itemimage}}}" class="mod_solo_activitycontent_image"/></div>{{/itemimage}}
    {{#itemaudio}}<div class="mod_solo_activitycontent_audio_cont"><audio controls src="{{{itemaudio}}}" class="mod_solo_activitycontent_audio"></audio></div>{{/itemaudio}}
    {{#itemvideo}}<div class="mod_solo_activitycontent_video_cont"><video controls src="{{{itemvideo}}}" class="mod_solo_activitycontent_video"></video></div>{{/itemvideo}}
    {{#itemiframe}}<div class="mod_solo_activitycontent_iframe_cont"><div class="mod_solo_activitycontent_iframe_responsive">{{{itemiframe}}}</div></div>{{/itemiframe}}
</div>