<!--div class='mod_solo_nativeaudioplayer_cont'>
    <audio id='mod_solo_passageaudioplayer' src='{{audiofilename}}' controls></audio>
</div-->

<div class="mod_solo_audioplayer">
    <button type="button" class="mod_solo_audioplayer_play_button"></button>
    <div class="mod_solo_audioplayer_skip_buttons">
        <button type="button" class="mod_solo_audioplayer_skip_button_back">15</button>
        <button type="button" class="mod_solo_audioplayer_skip_button_forward">15</button>
    </div>
    <div class="mod_solo_audioplayer_bar">
        <div class="mod_solo_audioplayer_bar_behind"></div>
        <div class="mod_solo_audioplayer_bar_front"></div>
    </div>
    <div class="mod_solo_audioplayer_time">00:45</div>
</div>