<div id='poodllconvedit_editor' class="'poodllconvedit_editor' transcriptionset_block transcriptionset_block_open" style='display: none;'>
    <div class="numb_song"></div>
    <div class="transcriptionset_text">
            <textarea class="textarea" name="poodllconvedit_edpart" id="poodllconvedit_edpart" class="poodllconvedit_edpart"></textarea>
        </div>
    <div class="transcriptionset_btns">
            <div class="subs_btn_block subs_basket poodllconvedit_eddelete" id="poodllconvedit_eddelete">
                    <img src="{{imgpath}}btn_ic_1.svg">
            </div>
            <div class="subs_btn_block subs_btn_menu poodllconvedit_edapply" id="poodllconvedit_edapply"></div>
            <div class="subs_btn_block poodllconvedit_edmoveup" id="poodllconvedit_edmoveup">
                <i class="fa fa-arrow-up"></i>
                </div>
            <div class="subs_btn_block poodllconvedit_edmovedown" id="poodllconvedit_edmovedown">
                <i class="fa fa-arrow-down"></i>
            </div>
            <button type="button" id="poodllconvedit_edcancel" class="poodllconvedit_edcancel">{{#str}}cancel, mod_solo{{/str}}</button>
    </div>
</div>