<div class='poodllconvedit_tt transcriptionset_block'>
    <div class='numb_song'>{{dataid}}</div>
    <div class='transcriptionset_text'>
        <div class='textarea poodllconvedit_tt_part'>{{part}}</div>
    </div>
    <div class='transcriptionset_btns'>
        <div class='subs_btn_block subs_basket'>
            <img src='{{imgpath}}btn_ic_1.svg'/>
        </div>
        <div class='subs_btn_block subs_btn_menu'></div>
        <div class='subs_btn_block'>
            <i class="fa fa-arrow-up"></i>
        </div>
        <div class='subs_btn_block'>
            <i class="fa fa-arrow-down"></i>
        </div>
        <div class='subs_btn_block'>
            <img src='{{imgpath}}btn_ic_2.svg'/>
        </div>
        <div class='subs_btn_block'>
            <img src='{{imgpath}}btn_ic_3.svg'/>
        </div>
    </div>
</div>