<div class="card-group">
    {{#studentsToGrade}}
    <div class="card" data-original-student="{{.}}">
        <div class="card-header">
            <div class="input-group mb-3">
                {{selected}}
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">{{# str }} gradesstudent, mod_solo {{/ str }}</label>
                </div>
                <select class="custom-select" name="gradesUserSelect" id="gradesUserSelect-{{.}}">
                    <option>{{# str }} gradeschoose, mod_solo {{/ str }}</option>
                    {{#submissionCandidates}}
                        <option value="{{id}}">{{lastname}}, {{firstname}}</option>
                    {{/submissionCandidates}}
                </select>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{# str }} gradestranscript, mod_solo {{/ str }}</h5>
            <div class="mod_solo_overflow_auto">
                <div class="mod_solo_grading_passagecont mod_solo_summarytranscriptplaceholder mod_solo_overflow_auto min-vh-400" style="height: 400px;">
                    <span class="chattranscript">Loading...</span>
                </div>
            </div>
        </div>
        <div class="alert alert-secondary justify-content-center align-middle" role="alert" style="text-align: center;">
            <div class="mod_solo_nativeaudioplayer_cont">
                <audio class="chatplayer" controls=""></audio>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="badge badge-light">Turns: <span class="chatturns">0</span></span>
                </div>
                <div class="col">
                    <span class="badge badge-light">Words: <span class="chatwords">0</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="badge badge-light">AV Turn: <span class="chatavturns">0</span></span>
                </div>
                <div class="col">
                    <span class="badge badge-light">Longest: <span class="chatlongesturns">0</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="badge badge-light">Target: <span class="chattargetwords">0</span></span>
                </div>
                <div class="col">
                    <span class="badge badge-light">Total target: <span class="chattotaltargetwords">0</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="badge badge-light">Questions: <span class="chatquestions">0</span></span>
                </div>
                <div class="col">
                    <span class="badge badge-light">AI Score: <span class="chataiscore">0</span></span>
                </div>
            </div>
        </div>
        <div class="alert alert-secondary justify-content-center align-middle" style="text-align: center;" role="alert">
            <input type="button" data-action="creategrademodal" disabled="disabled"
                   data-cm-id="{{cmid}}"
                   data-attempt-id="{{attemptid}}"
                   data-student-id="0" class=" justify-content-center align-middle" name="grade" id="create-modal" value="Grade entry">
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <strong>Rubric Score</strong>: <span class="chatrubricscore">0</span><br >
                <strong>Feedback</strong>: <span class="chatfeedback"></span>
            </small>
        </div>
    </div>
    {{/studentsToGrade}}
</div>
{{^element.frozen}}
{{#js}}
    $('[data-action=creategrademodal]').attr('disabled', 'disabled');

    require(['jquery', 'core/modal_factory', 'core/ajax','core/templates', 'mod_solo/gradeform'],
    function($, ModalFactory, ajax, templates, GradeForm) {
        document.querySelectorAll("[data-original-student]").forEach(
            function(element) {
                const originalStudentId = $(element).attr("data-original-student");
                const selectBox = element.querySelector('select[name="gradesUserSelect"]');
                selectBox.value = originalStudentId;
                $("[data-original-student]").first().find('select').attr('disabled','disabled');
                loadStudentData(element);
                GradeForm.init($(element).find('input[type=button]'), {{contextid}});
            }
        );

        $("[data-original-student]").change(function () { loadStudentData(this); });

        function loadStudentData(element) {
            const selectBox = element.querySelector('select[name="gradesUserSelect"]');
            $(element).find('input[type=button]').attr('disabled', 'disabled');
            studentId = selectBox.value;
            $(element).find('.chatplayer').removeAttr('src');
            $(element).find('.chattranscript').html("No data.");
            $(element).find('.chatturns').html(0);
            $(element).find('.chatwords').html(0);
            $(element).find('.chatavturns').html(0);
            $(element).find('.chatlongestturns').html(0);
            $(element).find('.chattargetwords').html(0);
            $(element).find('.chattotaltargetwords').html(0);
            $(element).find('.chatquestions').html(0);
            $(element).find('.chatrubricscore').html(0);
            $(element).find('.chatfeedback').html("");
            $(element).find('.chataiscore').html("");
            if (studentId) {
                $(selectBox).closest('[data-original-student]').attr('data-original-student', studentId);
                $(element).find('input[type=button]').attr("data-student-id",studentId);

                var promises = ajax.call([
                { methodname: 'mod_solo_get_grade_submission', args: {  userid: studentId, cmid: {{cmid}} } },
                ]);

                promises[0].done(function(response) {


                    if(response && response.response[0]) {
                        $(element).find('input[type=button]').removeAttr("disabled");
                        $(element).find('.chatplayer').attr('src', response.response[0].filename);

    var a ={};
    var st = JSON.parse(response.response[0].selftranscript);
    a.selftranscriptparts=[];
    $.each(st,function(index,oneturn){
      a.selftranscriptparts.push(oneturn.part);
    });
    templates.render('mod_solo/summarytranscript',{a: a}).then(
         function(html,js){
            $(element).find('.chattranscript').html(html);
          }
    );

                      // $(element).find('.chattranscript').html(response.response[0].transcript);
                        $(element).find('.chatturns').html(response.response[0].turns);
                        $(element).find('.chatwords').html(response.response[0].words);
                        $(element).find('.chatavturns').html(response.response[0].avturns);
                        $(element).find('.chatlongestturns').html(response.response[0].longestturns);
                        $(element).find('.chattargetwords').html(response.response[0].targetwords);
                        $(element).find('.chattotaltargetwords').html(response.response[0].totaltargetwords);
                        $(element).find('.chatquestions').html(response.response[0].questions);
                        $(element).find('.chatrubricscore').html(response.response[0].rubricscore);
                        $(element).find('.chatfeedback').html(response.response[0].feedback);
                        $(element).find('.chataiscore').html(response.response[0].aiaccuracy);
                    }
                }).fail(function(ex) {
                    // @todo do something with the exception
                });
            }
        }
    });
{{/js}}
{{/element.frozen}}

