        {{! Voice recorder }}
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <input type="hidden" id="{{rec.widgetid}}_filename"/>
                {{#recordvideo}}
                    {{>mod_solo/videorecordercontainer}}
                {{/recordvideo}}
                {{#recordaudio}}
                    {{>mod_solo/audiorecordercontainer}}
                {{/recordaudio}}
            </div>
        </div>
