   {{! Speaking topic }}
    <div class="mod_solo_step_card speaking_topic">
        <div class="mod_solo_step_card_tag">
            {{#str}}topic, mod_solo{{/str}}
        </div>
        <div class="mod_solo_step_card_content mod_solo_readonly">
            <div class="mod_solo_speakingtopic_readonly">
                {{speakingtopic}}
            </div>
        </div>
    </div>

    {{! Speaking goals }}
    <div class="mod_solo_goals">
        {{>mod_solo/snippetgoals}}
    </div>
