
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="container mod_solo_step_record">

    <div class="row">
        <div class="col-sm mx-auto"> 
            <span class="mod_solo_step_title_eyebrow">Step {{stepno}}</span>
            <h2 class="mod_solo_step_title">
            {{#str}}attempt_record, mod_solo{{/str}}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div class="solo_stepinstructions">
                {{^posttranscribing}}
                    {{#str}}step_mediarecordinstructions, mod_solo{{/str}}
                {{/posttranscribing}}
                {{#posttranscribing}}
                    {{#str}}step_posttranscriberecordinstructions, mod_solo{{/str}}
                {{/posttranscribing}}
            </div>
        </div>
    </div>

    {{^posttranscribing}}

        <!-- the topic and goals -->
        {{>mod_solo/stepprompt}}

        {{! Activity media }}
        <div class="mod_solo_activitycontent_container">
            {{#contentitems}}
                {{>mod_solo/activitycontent}}
            {{/contentitems}}
        </div>

        {{! Audio recorder }}
        {{>mod_solo/audiorecorder}}

    {{/posttranscribing}}

    {{#posttranscribing}}
        {{#selftranscript}}

        <div class="mod_solo_step_card selftranscript">
            <div class="mod_solo_step_card_tag">
                {{#str}}selftranscript, mod_solo{{/str}}
            </div>
            <div class="mod_solo_step_card_content mod_solo_readonly">
                {{selftranscript}}
            </div>
            <div class="mod_solo_returntranscriptpage">
                <a href="#" id="{{uniqid}}_backbutton">{{#str}}backtotranscriptedit, mod_solo{{/str}}</a>
            </div>
        </div>

        {{/selftranscript}}

        {{! Audio recorder }}
        {{>mod_solo/audiorecorder}}
    {{/posttranscribing}}


    <div class="mx-auto mod_solo_stepsubmit">
        <button class="btn" id="{{uniqid}}_button" type="button">{{#str}}next, mod_solo{{/str}}</button>
    </div>

</div>
{{^element.frozen}}
    {{#js}}
        //<script>
        //this submits the form data by ajax

        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {
                $('#' + '{{uniqid}}_button').click(function(){


                    var data = {};
                    data.filename = $('#' + '{{rec.widgetid}}_filename').val();

                    //lets not let people leave the page with an empty recording
                    if(data.filename.trim()===''){
                        Notification.alert('{{#str}}important, mod_solo{{/str}}',"{{#str}}noemptyrecording, mod_solo{{/str}}");
                        return false;
                    }

                    data.attemptid ={{attemptid}};
                    data.activitytype = 2; // {{type}}
                    var cmid={{rec.cmid}};
                    var id={{id}};
                    var step={{stepno}};
                    var action = 'submitstep';

                    //turn the caption into a spinner
                    $(this).html('<i class="fa fa-spinner fa-spin "></i>');
                    $(this).prop('disabled',true);

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: function(e){
                                    Notification.exception(e);
                                    var btn = $('#' + '{{uniqid}}_button');
                                    btn.html('{{#str}}next, mod_solo{{/str}}');
                                    btn.prop('disabled',true);
                        }
                   }]);

                });

                $('#' + '{{uniqid}}_backbutton').click(function(e){
                    e.preventDefault(); // Prevents the link from navigating to "#" (or any other URL)
                    log.debug("going baaaaack");
                    history.back();
                });
            }
        );
    {{/js}}
{{/element.frozen}}