
{{! we set the base form fields common to each step}}
{{>mod_solo/stepbase}}

{{! we set the title and instructions}}
<div class="container mod_solo_step_model">
    <div class="row">
        <div class="col-sm mx-auto">
            <span class="mod_solo_step_title_eyebrow">Step {{stepno}}</span>
            <h2 class="mod_solo_step_title">
            {{#str}}attempt_model, mod_solo{{/str}}
            </h2>
        </div>
    </div>

    {{! Prepare step instructions }}
    <div class="solo_stepinstructions">
        {{#str}}step_modelinstructions, mod_solo{{/str}}
    </div>


    <div class="mod_solo_activitycontent_container">
        {{#contentitems}}
            {{>mod_solo/activitycontent}}
        {{/contentitems}}
    </div>

    <div class="mx-auto mod_solo_stepsubmit">
        <button class="btn" id="{{uniqid}}_button" type="button">{{#str}}done, mod_solo{{/str}}</button>
    </div>

</div>
{{^element.frozen}}
    {{#js}}
        //<script>
        //this submits the form data by ajax
        require(['jquery', 'core/log','core/notification' ,'core/ajax','core/templates'],
            function($, log, Notification, Ajax, Templates) {
                $('#' + '{{uniqid}}_button').click(function(){
                    var data = {};
                    data.selftranscript = $('#' + '{{uniqid}}_selftranscript').val();
                    data.attemptid ={{attemptid}};
                    data.activitytype = 4; // {{type}}
                    var cmid={{cmid}};
                    var id={{id}};
                    var step={{stepno}};
                    var action = 'submitstep';

                    //turn the caption into a spinner
                    $(this).html('<i class="fa fa-spinner fa-spin "></i>');
                    $(this).prop('disabled',true);

                   var ret = Ajax.call([{
                        methodname: 'mod_solo_submit_step',
                        args: {
                            cmid: cmid,
                            step: step,
                            action: action,
                            data: JSON.stringify(data)
                        },
                        done:  function(a){window.location='{{{nexturl}}}';},
                        fail: function(e){
                                Notification.exception(e);
                                var btn = $('#' + '{{uniqid}}_button');
                                btn.html('{{#str}}done, mod_solo{{/str}}');
                                btn.prop('disabled',true);
                            }
                   }]);

                });
            }
        );
    {{/js}}
{{/element.frozen}}