{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_solo/streamrecorder

    The in page streaming recorder, laid out and styled like the Cloud Poodll "minimal" recorder skin.

    amd/src/ttrecorder.js finds its parts by these ids and classes, and reads all of its configuration from the
    data attributes on the record button: the container, the button, the waveform canvas (the audio helper draws
    on it, so it must exist, but it is not shown), timerstatus_ (the counter) and the four solo_recbutton_ spans.
    amd/src/streamrecord.js drives the rest through data-mode on the container: start, recording, uploading,
    playback.

    Context variables required for this template: see utils::fetch_streaming_recorder_data().

    Example context (json):
    {
        "uniqueid": "solo_ttrec1",
        "cmid": 12,
        "language": "en-US",
        "region": "useast1",
        "waveheight": 75,
        "maxtime": 120,
        "initialtime": "00:02:00",
        "speechtoken": "abc",
        "speechtokentype": "assemblyai",
        "speechtokenvalidseconds": 600,
        "forcestreaming": 1,
        "savemedia": 1,
        "transcribemedia": 1,
        "UNIQID": "solo_ttrec1_player",
        "isaudiosubmission": true,
        "audiofilename": ""
    }
}}
<div id="ttrec_container_{{uniqueid}}" class="mod_solo_streamrec" data-mode="start">
    <div class="timerstatus_{{uniqueid}} mod_solo_streamrec_counter" aria-hidden="true">{{initialtime}}</div>
    <canvas id="{{uniqueid}}_waveform" class="mod_solo_streamrec_waveform" hidden></canvas>

    <div class="mod_solo_streamrec_buttonwrap">
        <span class="mod_solo_streamrec_pulse" aria-hidden="true"></span>
        <button id="{{uniqueid}}_recorderbutton"
             type="button"
             class="mod_solo_streamrec_button ttrec_ready"
             data-cmid="{{cmid}}"
             data-waveheight="{{waveheight}}"
             data-region="{{region}}"
             data-lang="{{language}}"
             data-asrurl="{{{asrurl}}}"
             data-speechtoken="{{speechtoken}}"
             data-speechtokenregion="{{speechtokenregion}}"
             data-speechtokentype="{{speechtokentype}}"
             data-speechtokenvalidseconds="{{speechtokenvalidseconds}}"
             data-forcestreaming="{{forcestreaming}}"
             data-maxtime="{{maxtime}}"
             data-savemedia="{{savemedia}}"
             data-savemediaregion="{{savemediaregion}}"
             data-wstoken="{{cloudpoodlltoken}}"
             data-wwwroot="{{wwwroot}}"
             data-appid="{{appid}}"
             data-owner="{{owner}}"
             data-transcode="{{transcode}}"
             data-transcribemedia="{{transcribemedia}}"
             data-expiredays="{{expiredays}}"
             data-mediatype="{{mediatype}}"
             data-cloudpoodllurl="{{cloudpoodllurl}}"
             data-labelrecord="{{#str}}streamrecord, mod_solo{{/str}}"
             data-labelstop="{{#str}}streamstop, mod_solo{{/str}}"
             aria-label="{{#str}}streamrecord, mod_solo{{/str}}">
            <span class="solo_recbutton_mic mod_solo_streamrec_icon mod_solo_streamrec_icon_mic"></span>
            <span class="solo_recbutton_stop mod_solo_streamrec_icon mod_solo_streamrec_icon_stop" style="display: none"></span>
            <span class="solo_recbutton_waiting mod_solo_streamrec_icon" style="display: none"><i class="fa fa-cog fa-spin" aria-hidden="true"></i></span>
            <span class="solo_recbutton_processing mod_solo_streamrec_icon" style="display: none"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
            <span class="mod_solo_streamrec_percent"></span>
        </button>
    </div>

    <div class="mod_solo_streamrec_status" role="status" aria-live="polite"></div>

    <div class="mod_solo_streamrec_playback">
        {{>mod_solo/mediasubmissionplayer}}
        <div class="mod_solo_streamrec_restartwrap">
            <button type="button" class="btn btn-link mod_solo_streamrec_restart">
                <i class="fa fa-repeat fa-flip-horizontal" aria-hidden="true"></i> {{#str}}streamrerecord, mod_solo{{/str}}
            </button>
        </div>
    </div>

    <button type="button" class="mod_solo_streamrec_settings"
            aria-label="{{#str}}streamsettings, mod_solo{{/str}}" title="{{#str}}streamsettings, mod_solo{{/str}}">
        <i class="fa fa-cogs" aria-hidden="true"></i>
    </button>
</div>
