 
    {{! Transcript evaluation }}
    <section class="mod_solo_report_card mod_solo_transcript_evaluation">

        <div class="mod_solo_report_card_header">
            <div class="mod_solo_transcript_evaluation_illustration"></div> 
            {{#autotranscriptready}}
            <div class="mod_solo_summaryheader">
                <h3 class="summaryheadertitle">{{#str}}transcriptevaluation, mod_solo{{/str}}</h3>
            {{/autotranscriptready}}
            {{^autotranscriptready}}
                <h3 class="summaryheadertitle">{{#str}}selftranscript, mod_solo{{/str}}</h3>
            {{/autotranscriptready}}
            </div>
        </div>

        <div class="mod_solo_report_card_content">
            {{^textonlysubmission}}
            <p>
                <a data-toggle="collapse" href="#collapseAudioPlayer" role="button" aria-expanded="false" aria-controls="collapseAudioPlayer">
                    {{#str}}replay, mod_solo{{/str}}
                </a>
            </p>
            
            <div class="collapse" id="collapseAudioPlayer">
                <div>{{>mod_solo/audioplayer}}</div>
            </div>
            {{/textonlysubmission}}

            <h5>{{#str}}yourtranscript, mod_solo{{/str}}</h5>

            {{#studenteditstranscript}}
                {{#autotranscriptready}}
                    <div>{{#str}}transcriptevaluationdetails, mod_solo{{/str}}</div>
                {{/autotranscriptready}}
            {{/studenteditstranscript}}

            {{{markedpassage}}}
        
            <h5>{{#str}}grammarcorrection, mod_solo{{/str}}</h5>
            {{#grammarcorrection}}             
                <div class='mod_solo_corrections_cont'>
                    {{{grammarcorrection}}}
                    {{>mod_solo/summary_togglecorrections}}
                </div>
            {{/grammarcorrection}}
            {{^grammarcorrection}}
                {{#str}}no_grammar_corrections, mod_solo{{/str}}
            {{/grammarcorrection}}         

            {{#hasaifeedback}}
                <h5>{{#str}}aifeedback, mod_solo{{/str}}</h5>
                <div class='mod_solo_aifeedback_cont'>
                    <ol>
                    {{#aifeedback}}
                        <li>{{.}}</li>
                    {{/aifeedback}}
                    </ol>
                </div>
            {{/hasaifeedback}}

            <div class="mod_solo_attemptdetailscontainer">
                <div id="attemptdetails">
                    <div>
                        <!--div>{{#str}}stats, mod_solo{{/str}}</div-->
                        {{>mod_solo/summarystats}}
                    </div>
                </div>
            </div>
        </div>
</section>


{{! Spelling evaluation }}
{{#selftranscribe}}
{{#showspelling}}
    <section class="mod_solo_report_card side_heading_left mod_solo_spelling_evaluation">
        <div class="mod_solo_report_card_header">
            <div class="mod_solo_spelling_evaluation_illustration"></div> 
            <div class="mod_solo_summaryheader">
                <h3 class="summaryheadertitle">{{#str}}spellingeval, mod_solo{{/str}}</h3>
            </div>
        </div>
        <div class="mod_solo_report_card_content">
            {{>mod_solo/summaryspellingeval}}
        </div>
    </section>
{{/showspelling}}
{{/selftranscribe}}


{{! Grammar evaluation }}
{{#showgrammar}}
<section class="mod_solo_report_card side_heading_right mod_solo_grammar_evaluation">
    <div class="mod_solo_report_card_header">
        <div class="mod_solo_grammar_evaluation_illustration"></div> 
        <div class="mod_solo_summaryheader">
            <h3 class="summaryheadertitle">{{#str}}grammareval, mod_solo{{/str}}</h3>
        </div>
    </div>

    <div class="mod_solo_report_card_content">
        {{>mod_solo/summarygrammareval}}
    </div>
</section>
{{/showgrammar}}


