
{{! Teacher Comments }}
<section class="mod_solo_report_card mod_solo_teacher_evaluation">
    <div class="mod_solo_report_card_content">
        <div class="mod_solo_teacherevalcomments_label">
            <h5>{{#str}}teachercomments, mod_solo{{/str}}</h5>
        </div>
        <div class="mod_solo_teacherevalcomments">{{feedback}}</div>
    </div>
</section>

