
{{! Automatic evaluation }}
<section class="mod_solo_report_card side_heading_left mod_solo_automatic_evaluation">
    <div class="mod_solo_report_card_header">
        <div class="mod_solo_automatic_evaluation_illustration"></div>  
        <div class="mod_solo_summaryheader">
            <h3 class="summaryheadertitle">{{evaluator}}</h3>
        </div>
    </div>    
    <div class="mod_solo_report_card_content">
        <div class="mod_solo_automatic_evaluation_chart" id="chart_container">
            <canvas id="chart_canvas_automatic_evaluation"></canvas>
            <div class="mod_solo_automatic_evaluation_chart_grade_percent">{{{rubricresults}}}</div>
            <div class="mod_solo_automatic_evaluation_chart_grade_header">{{#str}}gradeheader, mod_solo{{/str}}</div>
        </div>
    </div>
</section>


{{^element.frozen}}
    {{#js}}
        //<script>
        require(['jquery', 'core/log','https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js'],
        function($, log, chartjs) {
            var make_chart =function(thedata){
                var ctx = document.getElementById("chart_canvas_automatic_evaluation").getContext("2d");
                var labels=  ['Filled', 'Unfilled'];
                var dataset = {label: 'Grade', fill: false, backgroundColor: ['#74DC72','#E3F8E3'],};
                dataset.data= [thedata.filled,thedata.unfilled];
                var usedata = {datasets: [dataset]};
                var cjoptions = {
                    type: 'doughnut',
                    data: usedata,
                    options: {
                        plugins: {
                            tooltip: {
                                enabled: false // Disable tooltips
                            }
                        },
                        interaction: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: null // Disable hover
                        },
                    },
                };
                var theRadarChart = new Chart(ctx,cjoptions);
            }
            make_chart({filled: 28, unfilled: 72});
        });
    {{/js}}
{{/element.frozen}}
