
<div class='mod_solo_sr_left'>
    <div class='mod_solo_sr_title'>{{#str}}spellingeval, mod_solo{{/str}}</div>
    <div class='mod_solo_ct_body'>
        <div class='mod_solo_spellingeval_label'>{{spellingerrorslabel}}</div>
        {{#spellingerrors}}
        <span class='mod_solo_spellingerror'>{{.}}</span>&nbsp;
        {{/spellingerrors}}
    </div>
</div>