<div class='mod_solo_sr_title'>{{#str}}selfreview, mod_solo{{/str}}</div>
<div class="mod_solo_summaryselfreview">
    {{#revqs}}
    <div class="summarybox summarytopic">
        <div class="summaryboxtitle">{{q}}</div>
        <div class="summaryboxcontent">
            {{a}}
        </div>
    </div>
   {{/revqs}}
</div>