
{{! Automatic evaluation }}
<section class="mod_solo_report_card side_heading_left mod_solo_automatic_evaluation">
    <div class="mod_solo_report_card_header">
        <div class="mod_solo_automatic_evaluation_illustration"></div>  
        <div class="mod_solo_summaryheader">
            <h3 class="summaryheadertitle">{{evaluator}}</h3>
        </div>
    </div>    
    <div class="mod_solo_report_card_content">
        {{#donutchart}}
            {{>mod_solo/summarystatsautomaticevaluation}}
        {{/donutchart}}
        {{^donutchart}}
            {{>mod_solo/summarystatsautomaticnocharts}}
        {{/donutchart}}
    </div>
</section>
