
    <section class="mod_solo_report_card mod_solo_autogradelog">
        <div class="mod_solo_autogradelog">
            <div class="mod_solo_summaryheader">
                <h3 class="summaryheadertitle">{{#str}}autogradelog, mod_solo{{/str}}</h3>
            </div>
            <div class="mod_solo_autogradelog_content">
                <ul>
                {{#autogradelog}}
                    <li>{{.}}</li>
                {{/autogradelog}}
                </ul>
            </div>
        </div>
    </section>