<div class='mod_solo_visual_stats_target_words'>
  <div class='mod_solo_visual_stats_target_words_chart'>
    <div class="mod_solo_visual_stats_target_words_chart_title">{{#str}}stats_targetwords, mod_solo{{/str}}</div>
    <div class="mod_solo_target_words_front_bar_container">
      <div class="mod_solo_target_words_behind_bar"></div>
      <div class="mod_solo_target_words_front_bar" style="width: {{s.targetwordsratio}}%"></div>
    </div>
      <div class="mod_solo_visual_stats_target_words_chart_fraction">{{s.targetwords}}/{{s.totaltargetwords}}</div>
  </div>
</div>


