
{{! Automatic evaluation }}
<section class="mod_solo_report_card mod_solo_automatic_evaluation">
    <div class='mod_solo_summary_teachereval'>
        <div class="mod_solo_automatic_evaluation_illustration"></div>  
        <div class='mod_solo_sr_title'>{{evaluator}}</div>
        <div class='mod_solo_ct_body'>
            <div class='mod_solo_rubric_results'>{{{rubricresults}}}</div>
            <div class='mod_solo_teacherfeedback'>{{feedback}}</div>
        </div>
    </div>
</section>