<div>
    <div class='mod_solo_grammareval_label'>
        {{#hasgrammarerrors}}
            <h5>{{#str}}possiblegrammarerrors, mod_solo{{/str}}{{/hasgrammarerrors}}</h5>
        {{^hasgrammarerrors}}
        
        <p class="mod_solo_secondary_message">{{#str}}nogrammarerrors, mod_solo{{/str}}{{/hasgrammarerrors}}</p>
    </div>

    {{#grammarerrors}}
    <div class='mod_solo_grammarerror'>{{sentence}}</div>
    <div class='mod_solo_grammaradvice'>{{message}}</div>
    {{/grammarerrors}}
</div>
