<div class="mod_solo_automatic_evaluation_chart">
    <div class="mod_solo_automatic_evaluation_chart_grade_percent">{{{graderesults}}}</div>
    <div class="mod_solo_automatic_evaluation_chart_grade_header">{{#str}}gradeheader, mod_solo{{/str}}</div> 
</div>