{{! Activity details - header }}
<section class="mod_solo_report_card mod_solo_activity_details">
    <div class="mod_solo_report_card_header">
        <div class="mod_solo_activity_details_illustration"></div>  
        <div class="mod_solo_summaryheader">
            <h3 class="summaryheadertitle">
                {{^textonlysubmission}}
                {{#str}}summaryuserattemptheadertitle, mod_solo, {{id}}{{/str}}
                {{/textonlysubmission}}
                {{#textonlysubmission}}
                    {{#str}}summaryheadertitle_norecording, mod_solo{{/str}}
                {{/textonlysubmission}}
            </h3>
            <div class="summaryheaderintro">
                {{#str}}summaryuserattemptheaderintro, mod_solo{{/str}}
            </div>
        </div>
    </div>
{{! The closing of the section element is at the summarychoices.mustache file}}    