
<div class="mod_solo_report_card">
  <div class='mod_solo_summary_teachereval'>
      <div class='mod_solo_sr_title'>{{#str}}teachereval, mod_solo{{/str}}</div>
      <div class='mod_solo_ct_body'>
          <div class='mod_solo_rubric_results'>
              <div class="mod_solo_evalstars">
                <h4>{{#str}}waitingforteacher, mod_solo{{/str}}</h4>
              </div>
          </div>
      </div>
  </div>
</div>
